<launch>
    <node name="xic_stereo" pkg="ros_stereo_xi_camera" type="ros_stereo_xi_camera_node" output="screen">
        <param name="pXICameraSN_0" type="str" value="CUCAU1814018" />
        <param name="pXICameraSN_1" type="str" value="CUCAU1814020" />
        <param name="pAutoGainExposurePriority" type="double" value="1.0" />
        <param name="pAutoGainExposureTargetLevel" type="double" value="30" />
        <param name="pAutoExposureTopLimit" type="int" value="200000" />
        <param name="pAutoGainTopLimit" type="int" value="12" />
        <param name="pTotalBandwidth" type="int" value="2400" />
        <param name="pBandwidthMargin" type="int" value="10" />
        <param name="pLoopRate" type="double" value="0.5" />

        <param name="pExternalTrigger" type="int" value="1" />
        <param name="pNextImageTimeout_ms" type="int" value="1000" />

        <param name="pSelfAdjust" type="int" value="1" />

        <param name="pCustomAEAGEnabled" type="int" value="0" />
        <param name="pCustomAEAGPriority" type="double" value="1.0" />
        <param name="pCustomAEAGExposureTopLimit" type="double" value="200000" />
        <param name="pCustomAEAGGainTopLimit" type="double" value="12" />
        <param name="pCustomAEAGBrightnessLevel" type="int" value="35" />

        <!-- Warning: Setting the following flag as 1 will enable continous images writing to the file system. -->
        <param name="pFlagWriteImage" type="int" value="0" />
        <param name="pOutDir" type="str" value="/home/yaoyu/Documents/CMU/AirLab/Shimizu/Stereo/CapturedImages" />
    </node>
</launch>
