<launch>
    <!-- launch-prefix="xterm -e gdb \-\-args" -->
    <!-- launch-prefix="valgrind" -->
    <node name="xic_stereo" pkg="ros_stereo_xi_camera" type="ros_stereo_xi_camera_node" output="screen" >
        <param name="pXICameraSN_0" type="str" value="CUCAU1903001" />
        <param name="pXICameraSN_1" type="str" value="CUCAU1903000" />

        <!-- Camera built-in AEAG. -->
        <param name="pFixedExposureGain" type="int" value="0" />

        <param name="pAutoGainExposurePriority" type="double" value="1.0" />
        <param name="pAutoGainExposureTargetLevel" type="double" value="10" />
        <param name="pAutoExposureTopLimit" type="int" value="5000" />
        <param name="pAutoGainTopLimit" type="int" value="1" />

        <!-- Bandwidth and framrate. -->
        <param name="pTotalBandwidth" type="int" value="3200" />
        <param name="pBandwidthMargin" type="int" value="0" />
        
        <!-- Original size. -->
        <param name="pHardwareDownsampling" type="int" value="1" />
        <param name="pSingleImageSize" type="double" value="12.37" />
        <!-- 1/4 size. -->
        <!-- <param name="pHardwareDownsampling" type="int" value="2" /> -->
        <!-- <param name="pSingleImageSize" type="double" value="3.82" /> -->

        <param name="pLoopRate" type="double" value="15" />

        <!-- <param name="pTransferFormat" type="str" value="color" /> -->
        <!-- <param name="pTransferFormat" type="str" value="mono" /> -->
        <param name="pTransferFormat" type="str" value="raw" />

        <param name="pExternalTrigger" type="int" value="1" />
        <param name="pNextImageTimeout_ms" type="int" value="1200" />

        <param name="pExternalTimestampReset" type="int" value="1" />

        <param name="pSelfAdjust" type="int" value="0" />

        <param name="pCustomAEAGEnabled" type="int" value="1" />
        <param name="pCustomAEAGPriority" type="double" value="0.8" />
        <param name="pCustomAEAGExposureTopLimit" type="double" value="5000" />
        <param name="pCustomAEAGGainTopLimit" type="double" value="24" />
        <param name="pCustomAEAGBrightnessLevel" type="int" value="30" />

        <param name="pCustomAEAG_EP" type="double" value="0.5" />
        <param name="pCustomAEAG_ED" type="double" value="0.02" />
        <param name="pCustomAEAG_EI" type="double" value="0.0" />
        <!-- <param name="pCustomAEAG_CT" type="int" value="10000" /> -->
        <param name="pCustomAEAG_GP" type="double" value="0.02" />
        <param name="pCustomAEAG_GD" type="double" value="0.005" />
        <param name="pCustomAEAG_GI" type="double" value="0.0" />
        <param name="pCustomAEAG_CT" type="int" value="10000" />
        <param name="pCustomAEAG_DeltaExpMax" type="double" value="1000000" />
        <!-- <param name="pCustomAEAG_Mask" type="str" value="/home/yyhu/ROS/catkin_ws/src/ros_stereo_xi_camera/script/index.dat" /> -->

        <param name="pFixedWB" type="int" value="0" />
        <param name="pWB_R" type="double" value="1.325575" />
        <param name="pWB_G" type="double" value="0.996636" />
        <param name="pWB_B" type="double" value="2.783976" />

        <param name="pDSHeight" type="int" value="468" />
        <param name="pDSWidth" type="int" value="640" />

        <param name="pSilent" type="int" value="1" />

        <!-- Warning: Setting the following flag as 1 will enable continous images writing to the file system. -->
        <param name="pFlagWriteImage" type="int" value="0" />
        <param name="pOutDir" type="str" value="/home/yaoyu/Documents/CMU/AirLab/Shimizu/Stereo/CapturedImages" />

        <!-- Debug using parameters. Use with caution -->
        <param name="pForceXiAutoWhiteBalance" type="int" value="0" />
    </node>
</launch>
